/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/

/* FONTS*/
/* Margaret = Monoton: CSS class */
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Evelyn = Major Mono Display: CSS class */
.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}
/* Liz =  Mystery Quest: CSS class */
.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* Wendy = Rubik Puddles: CSS class */
.rubik-puddles-regular {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* Yesenia = Barriecito: CSS class */
.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* Bella = Mea Culpa: CSS class */
.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Brontie = Eater: CSS class */
.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}
/* Zoe = Rubik Distressed: CSS class */
.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* Breezy = Rubik Glitch: CSS class */
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* Lindsay = Give You Glory: CSS class */
.give-you-glory-regular {
  font-family: "Give You Glory", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Teresa = Londrina Outline: CSS class */
.londrina-outline-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 
 html,
 body {
    height: 100%;
    text-align: center;
 }
 
 
 body {
     font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
 }

 h1 {
    font-family: sans-serif;
    font-size: 1.2em;
 }

 h2 {
    display: inline-block; /* Prevents stretching */
    font-size: 2.4em;
 }

 h2:hover {
    font-size: 2.8em;
    cursor: pointer;
 }